#wrapper{
    position: relative;
    width: 224px;
    padding: 10px;
    border-radius: 15px;

}

.background{
    background-color: #121212;
}

.output-number{
    font-size: 30px;
    background-color: lightgray;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 3px;
}

.normal-button{
    border-radius: 100%;
    border: none;
    height: 50px;
    width: 50px;
    margin: 2px;
    margin-right: 1px;
    font-size: 25px;
    line-height: 30px;
}

.long-button{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    height: 50px;
    width: 107px;
    margin: 2px;
    margin-right: 1px;
    font-size: 25px;
}

.light-button{
    background-color: lightgray;
    color: black;
}

.dark-button{
    background-color:grey;
    color: white;
}

.orange-button{
    background-color: orange;
    color:white;
}